{
  // HTTP server options
  "http-enabled": true,
  //"http-host": "0.0.0.0",
  //"http-port": 8001,

  // HTTPS server options
  "https-enabled": false,
  //"https-host": "0.0.0.0",
  //"https-port": 8002,

  // Web socket server options (used by web UI for real time updates)
  "ws-enabled": true,
  //"ws-host": "0.0.0.0",
  //"ws-port": 8003,

  // Web socket server options (used by web UI for real time updates)
  "wss-enabled": false,
  //"wss-host": "0.0.0.0",
  //"wss-port": 8004,

  // Web user interface options
  "web-ui-enabled": true,
  "web-ui-username": "admin",
  "web-ui-password": "admin",
  "web-ui-whitelist": ["*"],
  "web-ui-require-https": false,
  "web-ui-auth-enabled": false,

  // TLS/SSL cert (necessary for HTTPS and web socket server to work)
  //"ssl-key": null,  // If specified, holds the private key
  //"ssl-cert": "cert.pem",  // Holds the public key or both the private and public keys

  // File to store a copy of the console output
  "log-file": "~/gitwebhooks.log",

  // File to store the process id (pid)
  "pid-file": "~/.gitwebhooks.pid",

  // Record all log levels by default
  //"log-level": "INFO",

  // Deploy commands that should be executed for all projects
  //"global_deploy": [
  //  "echo Deploy started!",
  //  "echo Deploy completed!"
  //],

  "repositories": [
    {
      "url": "git@github.com:lucasrigato/gitwebhooks.git",
      "branch": "master",
      "remote": "origin",
      "path": {
        "Produção": "~/gitwebhooks/master",
        "Staging": "~/gitwebhooks/staging"
      },
      "header-filter": {
        "x-github-event": "push"
      },
      "payload-filter": [
        {
          "ref": "refs/heads/master"
        }
      ],

      "deploy": {
        "Sleep and exit error": "sleep 3 && exit 1"
      },

      "review": {
        "base": "~/gitwebhooks/staging",
        "path": "~/gitwebhooks/review",
        "payload-filter": [
          {
            "ref": "~refs/heads/master"
          }
        ],
        "actions": {
          "create": {
            "header-filter": {
              "x-github-event": "push"
            },
              {
                "created": true,
                "deleted": false
              }
            ]
          },
          "delete": {
            "header-filter": {
              "x-github-event": "push"
            },
            "payload-filter": [
              {
                "created": false,
                "deleted": true
              }
            ]
          },
          "update": {
            "header-filter": {
              "x-github-event": "push"
            },
            "payload-filter": [
              {
                "created": false,
                "deleted": false
              }
            ]
          }
        }
      }
    }
  ]
}
